/* Add application styles & imports to this file! */
table {
  width: 100%;
}

th {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

th,
td,
tr {
  border: 1px solid;
}

tr:hover td {
  cursor: pointer;
  color: black;
  background: silver;
}
